# ignore file for `eslint`
#
# update: wget -O .eslintignore https://git.io/fjVjo
# document: https://eslint.org/docs/user-guide/configuring#eslintignore
#

# also lint dot files
!.*

# vendors
node_modules/**
**/vendors/**
**/vendor/**
**/third-party/**

# build file
dist/**
**/*.min.*

# fixtures
**/fixtures/**

# test
.nyc_output/**
coverage/**

# project glob
